.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 4%;
}

.navbar .logo{
    height: 35px;
    /* width: max(10%,80px); */
    display: flex;
}

.navbar .profile-image{
    height: 40px;
}